@using questions.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model QuestionsPostVM
@{
    Layout = "_Layout";
    if (Model.QuestionId == null)
    {
        ViewData["Title"] = "Exam Question - Add";
    }
    else
    {
        ViewData["Title"] = "Exam Question - Edit";
    }

}

<div class="row">
    
    <div class="col-md-12">
        @ViewData["Title"]
        <hr />
    </div>
    @await Html.PartialAsync("_AlertMessage")
</div>
<div class="row">

    @using (Html.BeginForm("Question", "Questions", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.RepoId)
        @Html.HiddenFor(m => m.QuestionId)
        <div class="col-md-12 form-group">
            @Html.LabelFor(f => f.Question, new { @class = "control-label" })
            @Html.TextAreaFor(f => f.Question, 5, 5, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Question, "", new { @class = "text-danger" })

        </div>
       
            <div class="col-md-12">

                <a href="@Url.Action("Index","Selection",new {parentId=Model.QuestionId})" class="btn btn-success">Add Selection <i class="bi bi-plus"></i></a>

            </div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Selection
                            </th>
                            <th>
                                Edit
                            </th>
                            <th>
                                Delete
                            </th>
                           
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var selection in Model.Selections)
                        {
                            <tr>
                                <td>
                                    @("" + selection.ID + " " + selection.SELECTION_TEXT)
                                    @if (selection.IS_ANSWER.GetValueOrDefault())
                                    {
                                        <span>&nbsp;</span>
                                        <i class="bi bi-check"></i>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-warning" href='@Url.Action("Selection","Selections",new {id=selection.ID,parentId=Model.QuestionId})'><i class="bi bi-pencil-square"></i></a>
                                </td>
                                <td>
                                    @using (Html.BeginForm("Delete", "Selections", FormMethod.Post))
                                    {
                                        <input type="hidden" value="@selection.ID" name="id" />
                                        <button type="submit" class="btn btn-danger deleteButton"><i class="bi bi-eraser"></i></button>
                                    }

                                </td>
                              
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        
        
        
        <div class="col-md-12 form-group">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-12 form-group">
            <a href="@Url.Action("Index",new {parentId=Model.RepoId})" class="btn btn-warning">Back</a>
            <span>&nbsp;&nbsp;</span>
            <button type="submit" class="btn btn-success">Save</button>


        </div>
    }

</div>



